# Import Library

In [1]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 8, 5
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv('PM25_train.csv')
data.head()
data.shape

(1116554, 10)

# EDA

In [3]:
gPM25 = data.groupby(['device_id'])['PM2.5'].mean().reset_index()
gPM25 = gPM25.set_index('device_id').T.to_dict('list')

gPM10 = data.groupby(['device_id'])['PM10'].mean().reset_index()
gPM0 = data.groupby(['device_id'])['PM1'].mean().reset_index()

PM25_MSE = 38.018157

In [4]:
data["PM2.5"].describe()

count    1.116554e+06
mean     3.818598e+01
std      1.747436e+01
min      0.000000e+00
25%      2.700000e+01
50%      3.800000e+01
75%      4.800000e+01
max      7.860000e+02
Name: PM2.5, dtype: float64

In [5]:

#plt.plot(X['Date'],X['PM2.5'],'.')
#plt.plot(data['lat'],data['lon'],'.')

In [6]:
# 
TS_WEIGHT = 1000000000
#data["Timestamp"] = data["Date"].astype(str) + " " + data["Time"]
data["Timestamp"] =pd.to_datetime(data["Date"].astype(str) + " " + data["Time"], format='%Y-%m-%d %H:%M:%S').astype(np.int64) 
data["Timestamp"] = data[ "Timestamp"] // TS_WEIGHT
#"2017-01-01 08:03:09" => 1483257789.0
#"2017-01-01 08:09:04" => 1483258144.0
data.head()

,device_id,Date,Time,PM2.5,PM10,PM1,Temperature,Humidity,lat,lon,Timestamp
0,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
1,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
2,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
3,28C2DDDD415C,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755,1483258144000000000
4,28C2DDDD415C,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755,1483258144000000000

In [7]:


#1.53438595694/0.13918
def removeMissing(df):
    df = df.drop(df[df["PM10"]  == 0].index)
    df = df.drop(df[df["PM1"]  == 0].index)
    return df
    #data = addMissing(data)

#PM10及PM1有缺值 經觀察
#PM10約PM25 +3~4,#PM1約PM25-(6~7)
#補完mse只有1.59 ，但..... test data沒有pm2可以抓... 更，只能塞mse
def addMissing(df):
    df.loc[df["PM10"]  == 0 ,"PM10" ]  = df["PM2.5"] + 3.5
    df.loc[df["PM1"]  == 0 ,"PM1" ]  = df["PM2.5"] - 6.5
    return df
def addMissingMse(df):
    df.loc[df["PM10"]  == 0 ,"PM10" ]  = PM25_MSE + 3.5
    df.loc[df["PM1"]  == 0 ,"PM1" ]  = PM25_MSE - 6.5
    return df
def addMissingMse2(df):
    for i, row in df.iterrows():
        if row["PM10"]  == 0:
            df.at[i,'PM10'] = gPM25[row["device_id"]][0] + 3.5
        if row["PM1"]  == 0:
            df.at[i,'PM1'] = gPM25[row["device_id"]][0] - 6.5
    return df  

data = removeMissing(data)
data.head()
data.shape

(1103807, 11)

# X,y

In [8]:

X = data.drop(['device_id','Date','Time','PM2.5'],axis=1)
X.head()

       PM10   PM1  Temperature  Humidity     lat      lon            Timestamp
10961  61.0  34.0        22.62      81.0  24.149  120.681  1483257897000000000
10962  61.0  34.0        22.62      81.0  24.149  120.681  1483257897000000000
10963  61.0  34.0        22.62      81.0  24.149  120.681  1483257897000000000
10964  62.0  35.0        22.75      81.0  24.149  120.681  1483258252000000000
10965  62.0  35.0        22.75      81.0  24.149  120.681  1483258252000000000

In [9]:
y = data["PM2.5"].as_matrix()
y.shape

(1103807,)

# model

In [ ]:
from sklearn import linear_model

linear = linear_model.LinearRegression(normalize=True) #Score: 0.994944403792355 MSE: 1.5351809358318766

ard = linear_model.ARDRegression()

alpha =  0.4

ridge = linear_model.Ridge(alpha = alpha, normalize=True) # Score: 0.9949444037920316 MSE: 1.535180935930128 (alpha =  1e-6)

#lasso
lasso = linear_model.Lasso(alpha = alpha, normalize=True) #Score: 0.9948977875106408 MSE: 1.5493364229491262
lars = linear_model.LassoLars() #305
#linear_model.LarsCV() #255.522

reg = ridge

reg.fit (X,y)

In [42]:
y_pred = reg.predict(X)
mse = mean_squared_error(y_pred,y)
print (reg.coef_)
print("Score: {} MSE: {}".format(reg.score(X,y),mse))

[ 0.37051072  0.76106527  0.          0.          0.12393253  0.          0.        ]
Score: 0.9949338636966596 MSE: 1.5383815383541564

# predict

## get test data

In [12]:
test_data = pd.read_csv("PM25_test.csv")
test_data["Timestamp"] =pd.to_datetime(test_data["Date"].astype(str) + " " + test_data["Time"], format='%Y-%m-%d %H:%M:%S').astype(np.int64) 
test_data["Timestamp"] = test_data[ "Timestamp"] // TS_WEIGHT 


test_x = test_data
test_x.head()

,device_id,Date,Time,PM10,PM1,Temperature,Humidity,lat,lon,Timestamp
0,28C2DDDD415C,2017-01-31,00:04:05,0.0,0.0,18.62,92.0,23.741,120.755,1485821045000000000
1,28C2DDDD415C,2017-01-31,00:10:01,0.0,0.0,18.75,92.0,23.741,120.755,1485821401000000000
2,28C2DDDD415C,2017-01-31,00:15:57,0.0,0.0,18.62,92.0,23.741,120.755,1485821757000000000
3,28C2DDDD415C,2017-01-31,00:21:53,0.0,0.0,18.62,92.0,23.741,120.755,1485822113000000000
4,28C2DDDD415C,2017-01-31,00:27:48,0.0,0.0,18.62,92.0,23.741,120.755,1485822468000000000

In [13]:
# add missing data
#test_x = addMissingMse2(test_x)
test_x = test_x.drop(['device_id','Date','Time'],axis=1)
test_x.head()

   PM10  PM1  Temperature  Humidity     lat      lon            Timestamp
0   0.0  0.0        18.62      92.0  23.741  120.755  1485821045000000000
1   0.0  0.0        18.75      92.0  23.741  120.755  1485821401000000000
2   0.0  0.0        18.62      92.0  23.741  120.755  1485821757000000000
3   0.0  0.0        18.62      92.0  23.741  120.755  1485822113000000000
4   0.0  0.0        18.62      92.0  23.741  120.755  1485822468000000000

In [14]:
#predict
pre = reg.predict(test_x.values)
pre

array([ -0.14973791,  -0.14970995,  -0.14972908, ...,  11.11879277,
         8.85162871,   9.61147389])

In [15]:
result = test_data[["device_id"]]
result["pred_pm25"] = pre
result.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      device_id  pred_pm25
0  28C2DDDD415C  -0.149738
1  28C2DDDD415C  -0.149710
2  28C2DDDD415C  -0.149729
3  28C2DDDD415C  -0.149725
4  28C2DDDD415C  -0.149720

In [16]:
#unique device id

pd_mean_pm25 = result.groupby(['device_id'])['pred_pm25'].mean().reset_index()
pd_mean_pm25.head()

      device_id  pred_pm25
0  28C2DDDD415C  -0.145233
1  28C2DDDD47BC   0.123882
2  74DA3895C1F8  16.458390
3  74DA3895C1FA  14.172682
4  74DA3895C200  15.366921

In [17]:
#np.savetxt(, result.tolist(), delimiter = ',')
pd_mean_pm25.to_csv('l1-sumbmission.csv', index  = False)