# 把 date 跟 time 拆開看

因為合併成timestamp差太大
Score: 0.9949495160643369 MSE: 1.5336285447462925
Kaggle: 0.13936

另外time只看h 的字，讓各時段接近

# Import Library

In [1]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 8, 5
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv('PM25_train.csv')
data.head()

,device_id,Date,Time,PM2.5,PM10,PM1,Temperature,Humidity,lat,lon
0,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755
1,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755
2,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755
3,28C2DDDD415C,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755
4,28C2DDDD415C,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755

# EDA

In [3]:
gPM25 = data.groupby(['device_id'])['PM2.5'].mean()
gPM25.head()

device_id
28C2DDDD415C    34.140247
28C2DDDD47BC    39.766015
74DA3895C1F8    44.860509
74DA3895C1FA    38.921148
74DA3895C200    46.241431
Name: PM2.5, dtype: float64

In [4]:
gPM25 = data.groupby(['device_id'])['PM2.5'].mean().reset_index()
gPM25 = gPM25.set_index('device_id').T.to_dict('list')

gPM10 = data.groupby(['device_id'])['PM10'].mean().reset_index()
gPM10 = gPM10.set_index('device_id').T.to_dict('list')

gPM1 = data.groupby(['device_id'])['PM1'].mean().reset_index()
gPM1 = gPM1.set_index('device_id').T.to_dict('list')

PM25_MSE = 38.018157

In [5]:

def addTimestampFeature(df):
    TS_WEIGHT = 1000000000
    #"2017-01-01 08:03:09" => 1483257789.0
    #"2017-01-01 08:09:04" => 1483258144.0
    df["Timestamp"] =pd.to_datetime(df["Date"].astype(str) + " " + df["Time"], format='%Y-%m-%d %H:%M:%S').astype(np.int64) 
    #df["Timestamp"] = df["Timestamp"] // TS_WEIGHT
    #df["TsDate"] = pd.to_datetime(df["Date"].astype(str), format='%Y-%m-%d').astype(np.int64) // TS_WEIGHT - 1480000000
    #df["TsHour"] = pd.to_datetime(df["Time"], format='%H:%M:%S').astype(np.int64) // TS_WEIGHT *-1
   

    #add hour feature
    #for i, row in df.iterrows():
    #    hour = row["Time"][0:2]
    #    df.at[i,'TsHour'] = hour
    return df

In [6]:
#1.53438595694/0.13918
def removeMissing(df):
    df = df.drop(df[df["PM10"]  == 0].index)
    df = df.drop(df[df["PM1"]  == 0].index)
    return df
    #data = addMissing(data)

#PM10及PM1有缺值 經觀察
#PM10約PM25 +3~4,#PM1約PM25-(6~7)
#補完mse只有1.59 ，但..... test data沒有pm2可以抓... 更，只能塞mse
def addMissing(df):
    df.loc[df["PM10"]  == 0 ,"PM10" ]  = df["PM2.5"] + 3.5
    df.loc[df["PM1"]  == 0 ,"PM1" ]  = df["PM2.5"] - 6.5
    return df
def addMissingMse(df):
    df.loc[df["PM10"]  == 0 ,"PM10" ]  = PM25_MSE + 3.5
    df.loc[df["PM1"]  == 0 ,"PM1" ]  = PM25_MSE - 6.5
    return df
def addMissingMean(df):
    for i, row in df.iterrows():
        if row["PM10"]  == 0:
            #df.at[i,'PM10'] = gPM25[row["device_id"]][0] + gPM10[row["device_id"]][0]
            df.at[i,'PM10'] = gPM25[row["device_id"]][0] * 1.2 #+ 3.5 #gPM10[row["device_id"]][0]
        if row["PM1"]  == 0:
            df.at[i,'PM1'] = gPM25[row["device_id"]][0] * 0.8 # - 6.5 # gPM1[row["device_id"]][0]
    return df  
 
def encodeDeviceid(df):
    df['device_id'] = pd.factorize(df['device_id'])[0]
    return df

In [7]:
# addTimestampFeature
data = addTimestampFeature(data)

data.head()

,device_id,Date,Time,PM2.5,PM10,PM1,Temperature,Humidity,lat,lon,Timestamp
0,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
1,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
2,28C2DDDD415C,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
3,28C2DDDD415C,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755,1483258144000000000
4,28C2DDDD415C,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755,1483258144000000000

In [8]:
#one hot encoding
data=encodeDeviceid(data)

data.head()

,device_id,Date,Time,PM2.5,PM10,PM1,Temperature,Humidity,lat,lon,Timestamp
0,0,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
1,0,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
2,0,2017-01-01,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755,1483257789000000000
3,0,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755,1483258144000000000
4,0,2017-01-01,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755,1483258144000000000

# X,y

In [9]:

#handle missing data
#data = removeMissing(data)

X = data.drop(['Date','Time','PM2.5'],axis=1)

#正規化
#my_imputer = Imputer(missing_values=0, strategy='mean', axis=0)
my_imputer = Imputer()
X = my_imputer.fit_transform(X)

#imputed_X_test_plus = my_imputer.transform(imputed_X_test_plus)
X[:5]

array([[  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          2.41200000e+01,   8.30000000e+01,   2.37410000e+01,
          1.20755000e+02,   1.48325779e+18],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          2.41200000e+01,   8.30000000e+01,   2.37410000e+01,
          1.20755000e+02,   1.48325779e+18],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          2.41200000e+01,   8.30000000e+01,   2.37410000e+01,
          1.20755000e+02,   1.48325779e+18],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          2.41200000e+01,   8.20000000e+01,   2.37410000e+01,
          1.20755000e+02,   1.48325814e+18],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          2.41200000e+01,   8.20000000e+01,   2.37410000e+01,
          1.20755000e+02,   1.48325814e+18]])

In [10]:
y = data["PM2.5"].as_matrix()
y.shape

(1116554,)

# model

In [11]:
from sklearn import linear_model, ensemble

linear = linear_model.LinearRegression(normalize=True) #Score: 0.994944403792355 MSE: 1.5351809358318766

alpha =  1e-6
ridge = linear_model.Ridge(alpha = alpha, normalize=True) # Score: 0.9949444037920316 MSE: 1.535180935930128 (alpha =  1e-6)
lasso = linear_model.Lasso(alpha = alpha, normalize=True) #Score: 0.9948977875106408 MSE: 1.5493364229491262


tree =  ensemble.RandomForestRegressor(random_state = 50)
#1.Score: 0.9996180256259861 MSE: 0.11599023198801968 remove nan
#2.Score: 0.9995956040352367 MSE: 0.12348349475260488 加上device id 雖然變差，但有效
#3.Score: 0.9996072109886688 MSE: 0.1199392774554567 時間變小
#4.Score: 0.9994960884200959 MSE: 0.15387087991673198 固定hour 反而變差
#5.Score: 0.9996165258290322 MSE: 0.11709496361125395 只看timestamp 反而較好 除14800000000 反而變差
#6.Score: 0.9996240781169226 MSE: 0.11478885033773557 只看timestamp +看TsHour 
#但實際變差 還是2最好
# add missing value to mse

reg = tree

reg.fit (X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=50, verbose=0, warm_start=False)

In [12]:
y_pred = reg.predict(X)
mse = mean_squared_error(y_pred,y)
#print (reg.coef_)
print("Score: {} MSE: {}".format(reg.score(X,y),mse))

Score: 0.9996145337954127 MSE: 0.11770323692360607

# predict

## get test data

In [13]:
test_data = pd.read_csv("PM25_test.csv")

test_x = addTimestampFeature(test_data)
test_x.head()

,device_id,Date,Time,PM10,PM1,Temperature,Humidity,lat,lon,Timestamp
0,28C2DDDD415C,2017-01-31,00:04:05,0.0,0.0,18.62,92.0,23.741,120.755,1485821045000000000
1,28C2DDDD415C,2017-01-31,00:10:01,0.0,0.0,18.75,92.0,23.741,120.755,1485821401000000000
2,28C2DDDD415C,2017-01-31,00:15:57,0.0,0.0,18.62,92.0,23.741,120.755,1485821757000000000
3,28C2DDDD415C,2017-01-31,00:21:53,0.0,0.0,18.62,92.0,23.741,120.755,1485822113000000000
4,28C2DDDD415C,2017-01-31,00:27:48,0.0,0.0,18.62,92.0,23.741,120.755,1485822468000000000

In [14]:
# add missing data
#test_x = addMissingMean(test_x)

#one hot encoding
test_x = encodeDeviceid(test_x)

test_x = test_x.drop(['Date','Time'],axis=1)
test_x.head()

,device_id,PM10,PM1,Temperature,Humidity,lat,lon,Timestamp
0,0,0.0,0.0,18.62,92.0,23.741,120.755,1485821045000000000
1,0,0.0,0.0,18.75,92.0,23.741,120.755,1485821401000000000
2,0,0.0,0.0,18.62,92.0,23.741,120.755,1485821757000000000
3,0,0.0,0.0,18.62,92.0,23.741,120.755,1485822113000000000
4,0,0.0,0.0,18.62,92.0,23.741,120.755,1485822468000000000

In [15]:
test_x = my_imputer.fit_transform(test_x)

In [16]:
#predict
pre = reg.predict(test_x)
pre

array([ 47.9,  47.9,  47.9, ...,  11.7,   9.3,   9.9])

In [17]:
result = test_data[["device_id"]]
result["pred_pm25"] = pre
result.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   device_id  pred_pm25
0          0       47.9
1          0       47.9
2          0       47.9
3          0       47.9
4          0       47.9

In [18]:
#unique device id

#pred_means = result.groupby(['device_id'])['pred_pm25'].mean().reset_index()
pred_means = result.groupby(['device_id'])['pred_pm25'].mean()
pred_means.head()

device_id
0    38.371111
1    21.223757
2    16.119595
3    14.263889
4    15.572951
Name: pred_pm25, dtype: float64

In [19]:
submission=pd.read_csv('submission.csv')
submission['pred_pm25']=pred_means
submission.head()

      device_id  pred_pm25
0  28C2DDDD415C  38.371111
1  28C2DDDD47BC  21.223757
2  74DA3895C1F8  16.119595
3  74DA3895C1FA  14.263889
4  74DA3895C200  15.572951

In [20]:
#np.savetxt(, result.tolist(), delimiter = ',')
submission.to_csv('pm25-sumbmission.csv', index  = False)