In [1]:
from numpy import loadtxt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import Imputer
from sklearn import preprocessing
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
% pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import datetime as dt
import os
data_src = '//data/examples/pm25/'

In [3]:
train_df=pd.read_csv(data_src+'PM25_train.csv')

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116554 entries, 0 to 1116553
Data columns (total 10 columns):
device_id      1116554 non-null object
Date           1116554 non-null object
Time           1116554 non-null object
PM2.5          1116554 non-null float64
PM10           1116554 non-null float64
PM1            1116554 non-null float64
Temperature    1116554 non-null float64
Humidity       1116554 non-null float64
lat            1116554 non-null float64
lon            1116554 non-null float64
dtypes: float64(7), object(3)
memory usage: 85.2+ MB

train_df.head(2000)

train_df.tail(10)

#convert the date into numerical value

In [5]:
train_df['Date'] = pd.to_datetime(train_df['Date'])
train_df['Date']=train_df['Date'].map(dt.datetime.toordinal)

In [6]:
train_df.head(10)

,device_id,Date,Time,PM2.5,PM10,PM1,Temperature,Humidity,lat,lon
0,28C2DDDD415C,736330,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755
1,28C2DDDD415C,736330,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755
2,28C2DDDD415C,736330,08:03:09,21.0,0.0,0.0,24.12,83.0,23.741,120.755
3,28C2DDDD415C,736330,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755
4,28C2DDDD415C,736330,08:09:04,20.0,0.0,0.0,24.12,82.0,23.741,120.755
5,28C2DDDD415C,736330,08:26:51,20.0,0.0,0.0,24.37,81.0,23.741,120.755
6,28C2DDDD415C,736330,08:26:51,20.0,0.0,0.0,24.37,81.0,23.741,120.755
7,28C2DDDD415C,736330,08:32:47,20.0,0.0,0.0,24.50,81.0,23.741,120.755
8,28C2DDDD415C,736330,08:32:47,20.0,0.0,0.0,24.50,81.0,23.741,120.755
9,28C2DDDD415C,736330,08:38:42,22.0,0.0,0.0,24.62,81.0,23.741,120.755

In [7]:
train_df.tail(10)

,device_id,Date,Time,PM2.5,PM10,PM1,Temperature,Humidity,lat,lon
1116544,74DA3895E0E2,736359,22:50:33,17.0,18.0,13.0,18.37,84.0,24.305,120.713
1116545,74DA3895E0E2,736359,22:56:43,15.0,18.0,11.0,18.25,84.0,24.305,120.713
1116546,74DA3895E0E2,736359,23:02:56,16.0,18.0,12.0,18.12,84.0,24.305,120.713
1116547,74DA3895E0E2,736359,23:15:34,22.0,24.0,16.0,18.37,84.0,24.305,120.713
1116548,74DA3895E0E2,736359,23:21:50,17.0,20.0,13.0,18.37,84.0,24.305,120.713
1116549,74DA3895E0E2,736359,23:28:14,17.0,19.0,13.0,18.12,84.0,24.305,120.713
1116550,74DA3895E0E2,736359,23:34:46,16.0,19.0,12.0,18.12,84.0,24.305,120.713
1116551,74DA3895E0E2,736359,23:41:07,16.0,18.0,12.0,18.37,83.0,24.305,120.713
1116552,74DA3895E0E2,736359,23:47:34,17.0,19.0,13.0,18.25,84.0,24.305,120.713
1116553,74DA3895E0E2,736359,23:54:04,15.0,17.0,11.0,18.25,84.0,24.305,120.713

train_df_d = train_df.groupby([train_df['device_id']])

train_df_d.head()

In [8]:
#gets names of columns having missing values

cols_missing_data = [col for col in train_df.columns if train_df[col].isnull().any()]
print(cols_missing_data)

[]

In [9]:
train_df_y=train_df['PM2.5']

In [10]:
train_df_y.head()

0    21.0
1    21.0
2    21.0
3    20.0
4    20.0
Name: PM2.5, dtype: float64

In [11]:
y=train_df_y.copy()

In [12]:
y.shape

(1116554,)

y[100000]

In [13]:
train_df['device_id']=pd.factorize(train_df['device_id'])[0]

In [14]:
train_df.drop(['Time', 'PM2.5'], axis=1,inplace=True)

train_df.head(30000)

train_df.tail(20000)

scale_age_fare = preprocessing.StandardScaler().fit(combined_train_test[['Age','Fare', 'Name_length']])

In [16]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1116554 entries, 0 to 1116553
Data columns (total 8 columns):
device_id      1116554 non-null int64
Date           1116554 non-null int64
PM10           1116554 non-null float64
PM1            1116554 non-null float64
Temperature    1116554 non-null float64
Humidity       1116554 non-null float64
lat            1116554 non-null float64
lon            1116554 non-null float64
dtypes: float64(6), int64(2)
memory usage: 68.1 MB

In [17]:
# split our data into train & test
# train : test = 0.67 : 0.33
X_train, X_test, y_train, y_test = train_test_split(train_df, y, random_state = 0, test_size = 0.10)

print("training set data dimension")
print(X_train.shape)
print(y_train.shape)
print("-----------")
print("training set: %i" % len(X_train))
print("validation set: %i" % len(X_test))

training set data dimension
(1004898, 8)
(1004898,)
-----------
training set: 1004898
validation set: 111656

In [18]:
#perform imputation
imputed_X_train_plus = X_train.copy()
imputed_X_test_plus = X_test.copy()

my_imputer = Imputer()
imputed_X_train_plus = my_imputer.fit_transform(imputed_X_train_plus)
imputed_X_test_plus = my_imputer.transform(imputed_X_test_plus)

In [19]:
test_df=pd.read_csv(data_src+'PM25_test.csv')

In [20]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41223 entries, 0 to 41222
Data columns (total 9 columns):
device_id      41223 non-null object
Date           41223 non-null object
Time           41223 non-null object
PM10           41223 non-null float64
PM1            41223 non-null float64
Temperature    41223 non-null float64
Humidity       41223 non-null float64
lat            41223 non-null float64
lon            41223 non-null float64
dtypes: float64(6), object(3)
memory usage: 2.8+ MB

test_df.head(250)

In [21]:
test_df['Date'] = pd.to_datetime(test_df['Date'])
test_df['Date']=test_df['Date'].map(dt.datetime.toordinal)

In [22]:
test_df['device_id']=pd.factorize(test_df['device_id'])[0]

In [23]:
test_df.drop(['Time'],axis=1,inplace=True)

In [24]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41223 entries, 0 to 41222
Data columns (total 8 columns):
device_id      41223 non-null int64
Date           41223 non-null int64
PM10           41223 non-null float64
PM1            41223 non-null float64
Temperature    41223 non-null float64
Humidity       41223 non-null float64
lat            41223 non-null float64
lon            41223 non-null float64
dtypes: float64(6), int64(2)
memory usage: 2.5 MB

In [25]:
test_X = test_df.copy()

In [26]:
test_X = my_imputer.fit_transform(test_X)

In [27]:
model = RandomForestRegressor()
model.fit(imputed_X_train_plus, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [28]:
model.score(imputed_X_train_plus, y_train)
acc_model = round(model.score(imputed_X_train_plus, y_train) * 100, 2)
acc_model

99.92

In [29]:
Y_pred = model.predict(test_X)

In [30]:
Y_pred.shape

(41223,)

In [31]:
test_df['PM2.5']=Y_pred

In [32]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41223 entries, 0 to 41222
Data columns (total 9 columns):
device_id      41223 non-null int64
Date           41223 non-null int64
PM10           41223 non-null float64
PM1            41223 non-null float64
Temperature    41223 non-null float64
Humidity       41223 non-null float64
lat            41223 non-null float64
lon            41223 non-null float64
PM2.5          41223 non-null float64
dtypes: float64(7), int64(2)
memory usage: 2.8 MB

test_df_d2 = test_df.groupby([test_df['device_id']])

test_df_d2.head()

test_pm25 = test_df['PM2.5'].groupby([test_df['device_id']])

test_pm25.groups

In [33]:
medians = test_df['PM2.5'].groupby([test_df['device_id']]).median()

modes = test_df['PM2.5'].groupby([test_df['device_id']]).mode()

In [34]:
means = test_df['PM2.5'].groupby([test_df['device_id']]).mean()

medians

means

In [37]:
submission=pd.read_csv(data_src+'submission.csv')

In [38]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 2 columns):
device_id    252 non-null object
pred_pm25    252 non-null int64
dtypes: int64(1), object(1)
memory usage: 4.0+ KB

submission.tail(100)

In [39]:
submission['pred_pm25']=means

In [40]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 2 columns):
device_id    252 non-null object
pred_pm25    252 non-null float64
dtypes: float64(1), object(1)
memory usage: 4.0+ KB

In [41]:
submission.head()

      device_id  pred_pm25
0  28C2DDDD415C  29.893448
1  28C2DDDD47BC  17.927864
2  74DA3895C1F8  16.229313
3  74DA3895C1FA  14.260456
4  74DA3895C200  15.524011

In [42]:
submission.to_csv('Submission_pm25_10.csv',index=False)